<h1>Stupid Coaching</h1>

<p>Ask your coach something</p>

<form action="/answer">
  <div class="input-group input-group-lg">
    <input type="text" name="question">
    <span class="input-group-btn">
      <input type="submit" value="Ask" class="btn btn-primary">
    </span>
  </div>
</form>
